<<<<<<< HEAD
/*
Syntax error: Invalid CSS after "...als/variables";": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 3 of /Users/charlesamoss/Desktop/sites/flexbox/sass/styles.scss

1: /Users/charlesamoss/Desktop/sites/flexbox/sass/styles.scss

Backtrace:
/Users/charlesamoss/Desktop/sites/flexbox/sass/styles.scss:3
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:1148:in `expected'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:1084:in `expected'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:28:in `parse'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/engine.rb:342:in `_to_tree'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/bin/compass:23:in `load'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/bin/compass:23:in `<main>'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `eval'
/Users/charlesamoss/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...als/variables\";\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 3 of /Users/charlesamoss/Desktop/sites/flexbox/sass/styles.scss\A \A 1: /Users/charlesamoss/Desktop/sites/flexbox/sass/styles.scss"; }
=======
/* line 55, ../sass/partials/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* line 63, ../sass/partials/_normalize.scss */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) { display: none; height: 0; }

/* line 81, ../sass/partials/_normalize.scss */
[hidden] { display: none; }

/* line 94, ../sass/partials/_normalize.scss */
html { font-size: 100%; background: white; color: black; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 110, ../sass/partials/_normalize.scss */
html, button, input, select, textarea { font-family: sans-serif; }

/* line 116, ../sass/partials/_normalize.scss */
body { margin: 0; }

/* line 132, ../sass/partials/_normalize.scss */
a:focus { outline: thin dotted; }
/* line 139, ../sass/partials/_normalize.scss */
a:hover, a:active { outline: 0; }

/* line 152, ../sass/partials/_normalize.scss */
h1 { font-size: 2em; margin: 0.67em 0; }

/* line 157, ../sass/partials/_normalize.scss */
h2 { font-size: 1.5em; margin: 0.83em 0; }

/* line 162, ../sass/partials/_normalize.scss */
h3 { font-size: 1.17em; margin: 1em 0; }

/* line 167, ../sass/partials/_normalize.scss */
h4 { font-size: 1em; margin: 1.33em 0; }

/* line 172, ../sass/partials/_normalize.scss */
h5 { font-size: 0.83em; margin: 1.67em 0; }

/* line 177, ../sass/partials/_normalize.scss */
h6 { font-size: 0.75em; margin: 2.33em 0; }

/* line 185, ../sass/partials/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 192, ../sass/partials/_normalize.scss */
b, strong { font-weight: bold; }

/* line 197, ../sass/partials/_normalize.scss */
blockquote { margin: 1em 40px; }

/* line 204, ../sass/partials/_normalize.scss */
dfn { font-style: italic; }

/* line 210, ../sass/partials/_normalize.scss */
mark { background: #ff0; color: #000; }

/* line 218, ../sass/partials/_normalize.scss */
p, pre { margin: 1em 0; }

/* line 229, ../sass/partials/_normalize.scss */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* line 239, ../sass/partials/_normalize.scss */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* line 247, ../sass/partials/_normalize.scss */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 256, ../sass/partials/_normalize.scss */
q { quotes: none; }

/* line 263, ../sass/partials/_normalize.scss */
q:before, q:after { content: ''; content: none; }

/* line 270, ../sass/partials/_normalize.scss */
small { font-size: 80%; }

/* line 278, ../sass/partials/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 285, ../sass/partials/_normalize.scss */
sup { top: -0.5em; }

/* line 289, ../sass/partials/_normalize.scss */
sub { bottom: -0.25em; }

/* line 302, ../sass/partials/_normalize.scss */
dl, menu, ol, ul { margin: 1em 0; }

/* line 308, ../sass/partials/_normalize.scss */
dd { margin: 0 0 0 40px; }

/* line 317, ../sass/partials/_normalize.scss */
menu, ol, ul { padding: 0 0 0 40px; }

/* line 326, ../sass/partials/_normalize.scss */
nav ul, nav ol { list-style-image: none; }

/* line 341, ../sass/partials/_normalize.scss */
img { border: 0; -ms-interpolation-mode: bicubic; }

/* line 350, ../sass/partials/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* line 360, ../sass/partials/_normalize.scss */
figure { margin: 0; }

/* line 370, ../sass/partials/_normalize.scss */
form { margin: 0; }

/* line 377, ../sass/partials/_normalize.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* line 388, ../sass/partials/_normalize.scss */
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

/* line 405, ../sass/partials/_normalize.scss */
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* line 418, ../sass/partials/_normalize.scss */
button, input { line-height: normal; }

/* line 428, ../sass/partials/_normalize.scss */
button, select { text-transform: none; }

/* line 443, ../sass/partials/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

/* line 454, ../sass/partials/_normalize.scss */
button[disabled], input[disabled] { cursor: default; }

/* line 464, ../sass/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

/* line 476, ../sass/partials/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 487, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 495, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 504, ../sass/partials/_normalize.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 515, ../sass/partials/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 1, ../sass/partials/_base.scss */
body { font-size: 1em; line-height: 1.4; font-family: "SansationRegular","HelveticaNeue-Light","Helvetica Neue", Helvetica, Arial, sans-serif; }
/* line 6, ../sass/partials/_base.scss */
.no-fontface body { font-size: 1.05em; }

/* line 10, ../sass/partials/_base.scss */
::-moz-selection { background: red; text-shadow: none; }

/* line 14, ../sass/partials/_base.scss */
::selection { background: red; text-shadow: none; }

/* line 1, ../sass/partials/_layout.scss */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 7, ../sass/partials/_layout.scss */
body { max-width: 1200px; margin: auto; }

/* line 11, ../sass/partials/_layout.scss */
header[role="banner"], footer[role="contentinfo"] { width: 100%; display: block; }

/* line 15, ../sass/partials/_layout.scss */
nav[role="navigation"] { width: 25%; float: left; }

/* line 19, ../sass/partials/_layout.scss */
.main-content { width: 70%; float: right; }

/* line 23, ../sass/partials/_layout.scss */
footer[role="contentinfo"] { clear: both; }

/* line 2, ../sass/partials/_modules.scss */
.chapter-summary a { display: block; padding: .5em; color: black; opacity: .7; border: none; }
/* line 8, ../sass/partials/_modules.scss */
.chapter-summary a:hover { opacity: 1; }
/* line 11, ../sass/partials/_modules.scss */
.chapter-summary a:visited { opacity: .9; }
/* line 14, ../sass/partials/_modules.scss */
.chapter-summary a b { display: block; }
/* line 17, ../sass/partials/_modules.scss */
.chapter-summary a span { display: block; font-size: .8em; }
>>>>>>> 2dc90831ae162926adacaa052c5332e09a53c5fb
