@mixin displayFlex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin containerRow {
    @include displayFlex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
 @mixin containerCol { 
    @include displayFlex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@mixin flexItem {   
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

body {
    width: 978px;
    margin: 0 auto;   
    @include containerRow;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    }

.flex-item:nth-child(1) {
    @include flexItem;
    width: 21.09375%;
    }

.flex-item:nth-child(2) {
    @include flexItem;
    width: 35.15625%;
    }

.flex-item:nth-child(3) {
    @include flexItem;
    width: 35.15625%;
    }


// left row ==================================|


nav {
    @include containerCol;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 409px;
    
}
.navi:nth-child(1) {
    @include flexItem;
    
    }

.navi:nth-child(2) {
    @include flexItem;
   
    }

.navi {
    border: 2px solid #999;
    height: 189px;
    width: 216px;
}

// center row ==================================|


.main {
    height: 816px;
}


.main, section {
    @include containerCol;
     -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 360px;
    
}
section {
    height: 601px;

}

header{
    @include flexItem;
    border: 2px solid #999;
    height: 189px;
    width: 360px;
}
article:nth-child(1) {
    @include flexItem;
    border: 2px solid #999;
    height: 378px;
    width: 360px;
    }
article:nth-child(2) {
    @include flexItem;
    border: 2px solid #999;
    height: 189px;
    width: 360px;
    }



// right row ==================================|




aside {
    border: 2px solid #999;
    height: 400px;
    

}
