@mixin displayFlex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// flex direction [ row | row-reverse | column | column-reverse ]

@mixin flexDirection($fDir) {
    -webkit-flex-direction: $fDir;
    -ms-flex-direction: $fDir;
    flex-direction: $fDir;
}

// flex wrap [ nowrap | wrap | wrap-reverse ]

@mixin flexWrap($fWrap) {
    -webkit-flex-wrap: $fWrap;
    -ms-flex-wrap: $fWrap;
    flex-wrap: $fWrap;
}
@mixin alignContent-flexStart {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
@mixin alignItems-flexStart {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@mixin justifyContent-spaceBetween {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
@mixin justifyContent-spaceAround {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
@mixin containerRow {
    @include displayFlex;
    @include flexDirection(row);
    @include flexWrap(nowrap);
    @include alignContent-flexStart;
    @include alignItems-flexStart;
}
 @mixin containerCol { 
    @include displayFlex;
    @include flexDirection(column);
    @include flexWrap(nowrap);
    @include alignContent-flexStart;
    @include alignItems-flexStart;
}
@mixin flexItem {   
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
