html {
    background-color: $flexcolor3;
}
* {
    @include boxsizing-borderbox;
}
body {
    width: 95.5078125%;
    margin: 0 auto;   
    @include containerRow;
    @include justifyContent(space-around);
        @media screen and (max-width: $break-medium) {
    @include containerCol;
    @include justifyContent(space-between);
    height: 1660px;
    width: 90%;
    }
    }

.flex-item:nth-child(1) {
    @include flexItem;
    width: 21.09375%;
        @media screen and (max-width: $break-medium) {
    width: 100%;
    }
    }
.flex-item:nth-child(2) {
    @include flexItem;
    width: 35.15625%;
        @media screen and (max-width: $break-medium) {
    width: 100%;
    }
    }
.flex-item:nth-child(3) {
    @include flexItem;
    width: 35.15625%;
        @media screen and (max-width: $break-medium) {
    width: 100%;
    }
    }


// left row ==================================|


nav {
    @include containerCol;
    @include justifyContent(space-between); 
    height: ($heightBlock*2)+$marginBlock;  // 189 + 30 + 189  
        @media screen and (max-width: $break-medium) {
    height: $heightBlock;
    @include containerRow;
    }
    }
.navi:nth-child(1) {
    @include flexItem;
    @include containerCol;
    -webkit-align-items: center;
    @include justifyContent(center);
    }
.navi:nth-child(2) {
    @include flexItem;
    }

.navi {
    background-color: $flexcolor1;
    @include liteUPhover;
    height: $heightBlock; // 189
    width: 100%;
    a { 
        display:block;
        color: $flexcolor3;
        background-color: $flexcolor4;
        border-radius: 4px;
        @include flexItem;
        text-decoration: none;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
        text-align: center;
        padding: 8px 0 0 0;
        margin: 5px 0 0 0; 
        height: 35px;
        width: 80%;
        &:hover {
        background-color: $flexcolor5;
        box-shadow: 2px 8px 6px rgba(31, 42, 54,0.2),
            0px -5px 35px rgba(88,119,154,0.3);
    }
    }
        @media screen and (max-width: $break-medium) {
    width:46.875%;
    }
    }

// center row ==================================|


.main {
    height: ($heightBlock*4)+($marginBlock*2); // 189 + 30 + 378 + 30 + 189
    }


.main, section {
    @include containerCol;
    @include justifyContent(space-between);
    width: 100%;
    }

section{
    height: ($heightBlock*3)+$marginBlock; // ( 189 * 2 ) + 30 + 189
    }

header, article {
    background-color: $flexcolor1;
    width: 100%;
    }


header{
    @include flexItem;
    height: $heightBlock; // 189
    @include liteUPhover;
    .logo {
        display:block;
        width: 162px; 
        height: 162px;
        margin: 13.5px auto 13.5px auto;
    }
    }

article:nth-child(1) {
    @include flexItem;
    height: $heightBlock*2; // 189 * 2
    @include liteUPhover;
    }
article:nth-child(2) {
    @include flexItem;
    height: $heightBlock; // 189
    @include liteUPhover;
    }



// right row ==================================|




aside {
    @include containerCol;
    @include justifyContent(space-between);
    width: 100%;
    height: ($heightBlock*3)+$marginBlock;
    }
aside:nth-child(1){
    @include flexItem;
    }
aside:nth-child(2){
    @include flexItem;
    }
aside:last-child(3){
    @include flexItem;
    }

.archive{
    background-color: $flexcolor1;
    height: ($heightBlock*2)+$marginBlock;
    width: 100%;
    @include liteUPhover;
    }

.contact {
    @include containerRow;
    @include justifyContent(space-between);
    height: 100px;
    width: 100%;
    }

.contact:nth-child(1){
    @include flexItem;
    }
.contact:nth-child(2){
    @include flexItem;
    }
.contact:nth-child(3){
    @include flexItem;
    }

.contactSub{
    height: 100px;
    width: 27.77777777777778%;
    background-color: $flexcolor1;
    @include liteUPhover;
    }
.rights {
    height: $marginBlock;
    width: 100%;
    background-color: $flexcolor1;
    text-align: right;
    padding: 4px 10px 0 0;
    color: lighten($flexcolor1, 20%);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    @include liteUPhover;
    &:hover {
    color: #fff;
    }
    }