$color1: #FF0000; // Red 
$color2: #FFBF00; // Orange 
$color3: #FFFF00; // Yellow 
$color4: #7FFF00; // Green 
$color5: #007FFF; // Light Blue 
$color6: #00FFFF; // Cyan 
$color7: #0000FF; // Blue 
$color8: #7F00FF; // Purple 
$color9: #FF00FF; // Magenta 
$color10: #000; // Black
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
$color11: #fff; // White

$h2Size: 1.2em;
=======
$color11: #fff; // White
>>>>>>> 2dc90831ae162926adacaa052c5332e09a53c5fb
=======
$color11: #fff; // White
>>>>>>> 2dc90831ae162926adacaa052c5332e09a53c5fb
=======
$color11: #fff; // White
>>>>>>> 2dc90831ae162926adacaa052c5332e09a53c5fb
